@charset "UTF-8";
.otsikko {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1% 2%;
  background-image: url("../img/otsikko_footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.otsikkoteksti {
  font-size: 250%;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-family: Gloria Hallelujah;
}

/*Navigointi alkaa tästä*/
.navigointi {
  overflow: hidden;
}

.navigointi .icon {
  display: none;
}

.navigointi a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 5px;
  text-decoration: none;
  position: relative;
  font-size: 130%;
  font-weight: bolder;
  margin-left: 40px;
  margin-right: 20px;
  font-family: fredoka;
}

.navigointi a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
  padding-bottom: 0.5%;
}

.navigointi a:hover {
  padding-bottom: 0.5%;
}

.navigointi a:hover::before {
  width: 100%;
}

.active {
  background: rgba(0, 0, 204, 0.5);
  border-radius: 30px;
}

/*Galleria alkaa tästä*/
.gallery {
  width: 100%;
  margin-top: 9%;
  margin-bottom: 2%;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 50vh;
  margin: 0 auto;
  max-width: 60%;
  position: relative;
}

.gallery-item {
  height: 50%;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 30%;
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
}

.gallery-item-1 {
  left: 15%;
  opacity: 0.4;
  transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
  height: 70%;
  opacity: 0.8;
  width: 30%;
  z-index: 1;
}

.gallery-item-2 {
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item-3 {
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
  height: 85%;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  z-index: 2;
}

.gallery-item-4 {
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item-5 {
  left: 85%;
  opacity: 0.4;
  transform: translateX(-50%);
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  color: #000;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover {
  color: #5acf50;
  font-weight: bold;
}

/* Fontit */
.protest {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Sivun rakenne */
body {
  min-height: 80%;
  background: url("../img/2.png") no-repeat;
  background-size: cover;
}

div#container {
  display: flex;
  flex-direction: row;
}

div#content {
  display: inherit;
}
div#content section {
  display: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 1em 2em 5em 2em;
}

article {
  flex: 40%;
  margin: 1% 0.5%;
  padding: 1%;
  border-radius: 50px;
  font-family: fredoka;
  line-height: 230%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-weight: bolder;
}
article div {
  margin: 1em;
}
article img {
  width: 35%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  float: left;
  margin-top: 10%;
  margin-right: 6%;
  margin-left: -1em;
  margin-bottom: 1%;
  border-radius: 30px;
}
article ul {
  padding-top: 5%;
}
article li {
  padding-top: 5%;
  font-size: 100%;
}
article h3,
article h2,
article h1 {
  font-family: Gloria Hallelujah;
  font-size: 250%;
}
article h1,
article h2 {
  font-family: Gloria Hallelujah;
  font-size: 300%;
  text-align: center;
  margin: 0.5em 0;
}
article p {
  font-size: 110%;
  float: left;
}

.wrapper img {
  width: 30%;
  padding-top: 5%;
}

article.yksi {
  background-image: url("../img/yksi.png");
}
article.yksi li {
  list-style-image: url("../img/koira/latetassu3.png");
}
article.yksi p {
  padding-left: 15%;
}

article.kaksi {
  background-image: url("../img/kaksi.png");
}
article.kaksi li {
  list-style-image: url("../img/koira/seratassu.png");
}
article.kaksi p {
  padding-left: 15%;
}

article.keski {
  flex: 70%;
  background-image: url("../img/keski.png");
  padding: 5%;
}
article.keski div.taulukko table {
  margin-top: 2%;
  display: inline-block;
  margin-left: 2%;
  border-radius: 30px;
}
article.keski div.taulukko table th {
  text-decoration: underline;
  font-size: 110%;
}
article.keski div.taulukko table th,
article.keski div.taulukko table td {
  padding: 0 1em;
  text-align: left;
  text-shadow: 1px 0 white;
}

div#esittely {
  display: flex;
}
div#esittely img {
  height: 50%;
}

article.ompelu {
  background-image: url("../img/keski.png");
  padding: 5%;
  padding-left: -5em;
}
article.ompelu div.ompelutext img {
  width: 30%;
}

img.linkki {
  border-radius: 30px;
  width: 50%;
}

img.taso {
  width: 42%;
  margin-top: 20%;
}

table.tarvikelista {
  width: 100%;
  background-image: url("../img/table_tausta.png");
  padding: 2em;
  border-radius: 30px;
}
table.tarvikelista th {
  font-size: 150%;
  text-decoration: underline;
}
table.tarvikelista td {
  font-size: 110%;
}

div.askartelu {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.askartelu img {
  display: block;
  margin: auto 0;
}
div.askartelu a {
  text-shadow: 2px 2px lightblue;
}
div.askartelu a img {
  width: 50%;
}

table#valmiit {
  background-image: url("../img/table_tausta.png");
}

table#suunnitelma {
  background-image: url("../img/table_tausta1.png");
}

footer {
  position: fixed;
  padding-top: 1%;
  padding-bottom: 3%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-image: url("../img/otsikko_footer.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
footer p {
  color: aliceblue;
  font-size: 200%;
  font-family: fredoka;
}

aside {
  position: fixed;
  width: 10%;
  height: 15%;
  margin-left: 85%;
  background-image: url("../img/flora.png");
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  margin-bottom: 5%;
  display: flex;
  font-size: 100%;
  letter-spacing: 5px;
  text-align: center;
}
aside div {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  margin: 10%;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
aside div h2 {
  font-size: 90%;
  letter-spacing: 2px;
}
aside div p {
  font-family: fredoka;
  font-weight: bold;
}
aside div h3 {
  font-size: 60%;
}

@media screen and (max-width: 1350px) {
  .otsikko {
    padding-left: 10%;
    flex-direction: row;
  }
  .navigointi a {
    display: none;
    padding: 5px 15px;
    padding-right: 50px;
    margin-left: 5em;
  }
  .navigointi a.icon {
    float: right;
    display: block;
    margin-right: 2%;
  }
  .navigointi.responsive {
    position: relative;
  }
  .navigointi.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigointi.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navigointi a::before {
    content: "";
    background: transparent;
  }
  .navigointi a:hover {
    color: green;
  }
  .navigointi a:hover::before {
    width: 50%;
  }
  .gallery-container {
    margin-top: 15%;
    height: 30vh;
  }
  .gallery-item-1,
  .gallery-item-5 {
    display: none;
  }
  .gallery-item-3 {
    box-shadow: none;
  }
  article p {
    font-size: 90%;
  }
  article h1, article h2 {
    font-size: 160%;
  }
  article h3 {
    font-size: 120%;
  }
  article li {
    margin-top: 1%;
    font-size: 100%;
  }
  table.tarvikelista {
    font-size: 80%;
    width: 100%;
  }
  table.tarvikelista td {
    padding-right: 5%;
  }
  aside {
    font-size: 50%;
  }
  div.askartelu {
    display: block;
    margin-top: 0;
  }
  div.askartelu img {
    margin-left: 30%;
    align-items: center;
    -o-object-position: center;
       object-position: center;
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .otsikko {
    font-size: 70%;
  }
  .navigointi a {
    font-size: 80%;
  }
  .gallery-container {
    margin-top: 20%;
    height: 15vh;
  }
  .gallery-item-1,
  .gallery-item-2,
  .gallery-item-4,
  .gallery-item-5 {
    display: none;
  }
  .gallery-item-3 {
    box-shadow: none;
  }
  article p {
    font-size: 70%;
    line-height: 1.5;
    padding: 1%;
  }
  article h1, article h2 {
    font-size: 90%;
  }
  article h3 {
    font-size: 100%;
    text-align: center;
  }
  article li {
    font-size: 50%;
    line-height: 1.5;
    padding: 0;
    margin: 0;
  }
  article img {
    margin: 0;
    border-radius: 10px;
  }
  article .text p {
    margin-bottom: 5%;
  }
  div.askartelu {
    display: block;
    margin-top: 0;
  }
  div.askartelu img {
    margin-left: 30%;
    align-items: center;
    -o-object-position: center;
       object-position: center;
  }
  div.taulukko {
    font-size: 50%;
    width: 100%;
    line-height: 1.5;
  }
  div.taulukko table {
    width: 100%;
    padding: 2%;
  }
  div.taulukko table.tarvikelista {
    padding: 10%;
  }
  aside {
    position: absolute;
    margin-top: -15%;
    margin-left: 75%;
    width: 20%;
    height: 5%;
    font-size: 25%;
  }
}/*# sourceMappingURL=style.css.map */